<launch>
    <arg name="robot_name"       default="/"/>
    <arg name="rviz"             default="false"/>
    <arg name="lite"             default="false" />
    <!-- <arg name="ros_control_file" default="$(find oped_config)/config/ros_control/gazebo/ros_control_oped.yaml" /> -->
    <arg name="ros_control_file" default="$(find oped_config)/config/ros_control/gazebo/ros_control.yaml" />

    <param name="use_sim_time" value="true" />

    <include file="$(find oped_config)/launch/bringup.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="gazebo"     value="true"/>
        <arg name="lite"       value="$(arg lite)"/>
        <arg name="rviz"       value="$(arg rviz)"/>
        <arg name="joints_map_file"  value="$(find oped_config)/config/joints/joints.yaml"/>
        <arg name="links_map_file"   value="$(find oped_config)/config/links/links.yaml"/>
        <!-- <arg name="gait_config_file" value="$(find oped_config)/config/gait/gait.yaml"/> -->
        <arg name="gait_config_file" value="$(find oped_config)/config/gait/gazebo/gait.yaml"/>
        <!-- <arg name="description_file" value="$(find oped_description)/urdf/oped.urdf"/> -->
        <arg name="description_file" value="$(find oped_description)/urdf/gazebo/champ.urdf"/>

    </include>

    <include file="$(find oped_gazebo)/launch/gazebo.launch">
        <arg name="robot_name"       value="$(arg robot_name)"/>
        <arg name="lite"             value="$(arg lite)"/>
        <arg name="ros_control_file" value="$(arg ros_control_file)"/>
    </include>    
</launch>
